<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.inovance.ElevatorControl"
          android:versionCode="1"
          android:versionName="1.0.1">
    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Global"
            android:name=".ElevatorControlApplication">
        <!-- 登陆认证 -->
        <activity
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                android:name=".activities.CheckAuthorizationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 连接蓝牙设备 -->
        <activity
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                android:name=".activities.ChooseDeviceActivity"/>
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- TabHost 导航activity -->
        <activity
                android:screenOrientation="portrait"
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                android:windowSoftInputMode="adjustPan|adjustResize"
                android:name=".activities.NavigationTabActivity">
        </activity>
        <!-- 故障分析 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|adjustResize"
                android:name=".activities.TroubleAnalyzeActivity">
        </activity>
        <!--电梯调试-->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|adjustResize"
                android:name=".activities.ConfigurationActivity">
        </activity>
        <!--首页-->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.HomeActivity"
                android:windowSoftInputMode="adjustPan|adjustResize|stateHidden"
                android:launchMode="singleInstance">
        </activity>
        <!--固件管理-->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|adjustResize"
                android:name=".activities.FirmwareManageActivity">
        </activity>
        <!--帮助-->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan|adjustResize"
                android:name=".activities.HelpSystemActivity">
        </activity>
        <!-- ////////////////////////////////////////////////////////////////////////// -->
        <!-- 参数详细 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.ParameterDetailActivity">
        </activity>
        <!-- 远程协助 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateHidden"
                android:name=".activities.RemoteHelpActivity"/>
        <!-- 蓝牙地址 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.BluetoothAddressActivity"/>
        <!-- 抓取条形码 -->
        <activity android:name=".activities.BarcodeCaptureActivity"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="portrait"
                  android:icon="@drawable/ic_elevator_actionbar_white"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"/>
        <!-- 内召 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.MoveInsideActivity"/>
        <!-- 外召 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.MoveOutsideActivity"/>
        <!-- 参数写入 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.ParameterUploadActivity"/>
        <!-- 参数读取 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.ParameterDownloadActivity"/>
        <!-- 快捷菜单设置 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.ShortcutSettingActivity"/>
        <!-- 用户注册 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:name=".activities.RegisterUserActivity"/>
        <!-- 关于 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.AboutActivity"/>
        <!-- 选择设备型号 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.SelectDeviceTypeActivity"/>
        <!-- 查看系统当前状态 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.ViewErrorStatusActivity"/>
        <!-- 保存的配置文件查看 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.ParameterViewerActivity"/>
        <!-- 操作日志 -->
        <activity
                android:icon="@drawable/ic_elevator_actionbar_white"
                android:screenOrientation="portrait"
                android:name=".activities.SystemLogActivity"/>
        <!-- 申请权限 -->
        <activity android:icon="@drawable/ic_elevator_actionbar_white"
                  android:screenOrientation="portrait"
                  android:name=".activities.ApplyPermissionActivity"/>
        <!-- 内部权限申请 -->
        <activity android:icon="@drawable/ic_elevator_actionbar_white"
                  android:screenOrientation="portrait"
                  android:name=".activities.InternalRegisterActivity"/>
    </application>
</manifest>